#root {
  margin: 0 auto;
  text-align: center;
}

.body {
  background-image: url("./../public/images/grass.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow,
.currentScore,
.topScore {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; 
  color: #fff; 
  border-radius: 20px;
  margin: 15px;
  margin-bottom: 7vh;
  margin-top: 5vh
}

.arrow img {
  object-fit: contain;
  height: 16px;
}

.arrow {
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; 
  justify-items: center; 
  margin: 0 auto; 
  max-width: 1000px; 
}

.card {
  width: 100%; 
  aspect-ratio: 1/1;
  background-color: black; 
  border: 5px solid black;  
  max-width: 20vw;
  max-height: 25vh;
  transition: background-color 0.3s, 
    border-color 0.3s,
    box-shadow 0.3s;
}

.card:hover {
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px; 
}

.card p {
  text-align: center;
  margin: 0px;
  background-color: #fff;
}

.startLink,
.startContainer,
.logoContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  align-items: center;
  margin-top: 30px;
  max-height: 30vh;
  border: 5px solid black;  
}

.startContainer {
  padding: 2vh;
  font-size: 20px;
  font-weight: 900;
}

.startLink {
  background-color: black;
  color: whitesmoke;
  font-weight: 900;
  padding: 2vh;
  transition: color 0.2s, box-shadow 0.2s;
}

.startLink:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  color:#3498db;
}

.logo {
  object-fit: contain;
  height: 100%
}

.winScreen,
.lossScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

.resultMessage {
  font-size: 24px;
  margin-bottom: 10px;
}

.restart {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.restart:hover {
  background-color: #2980b9;
}
